.tyreTracks {
	position: relative;
	left: -3rem;
}

.headerShadow {
    position: absolute;
    top: -3rem;
    left: 5;
    left: 3rem;
    z-index: -10;
    width: 250%;
}

@media(max-width:580px) {
	img.headerImg {
		top: -3rem;
		left: -2rem;
	}
}